[Desktop Entry]
Type=Application
Encoding= UTF-8
Name= uRemote
Exec=/usr/bin/python3 /home/pi/Scripts/uRemotePi/uremote.py
StartupNotify=false
Terminal=false